<div class='container'>
  <div class = "all-forms" id="signup-form">
    <%= render partial: "new_user_form" %>
  </div>
  <p>Already have an account? <%= link_to 'Login here', login_path %>.</p>
</div>