<li><%= link_to 'Logout', logout_path(current_user), :method => :delete %></li>

<div class="container">
  <h1>Welcome, <%= @user.username %></h1>
  <h3>My Events</h3>
    <% @events.each do |event| %>
        <ul id="event-list">
            <li><%= link_to("#{event.name}", event) %></li>
        </ul>
    <% end %>
</div>
