<div class="logo">LOGO</div>
<div class="welcome-sign">
  <div id="welcome-text">Please Wait to Be Seated...</div>
  <div class="button" id="login"><%= link_to 'Login', login_path %></div>
  <div class="button" id="signup"><%= link_to 'Sign up now', new_users_path %></div>
  <div class="form"></div>
</div>
