<div class='events-page-container'>
	<%= render partial: "shared/event_show_side_bar" %>
	<div class='events-show-container'>
		<%= render partial: "event_form", locals: {event: current_event} %>
	</div>
</div>