<div class='events-page-container'>
  <% if current_event %>
    <%= render partial: "shared/event_show_side_bar" %>
  <% end %>
  <div class='events-show-container'>
    <%= render partial: "new_event_form", locals: {event: @event, errors: @errors} %>
  </div>
</div>

