<div class='events-page-container'>
  <% if current_event %>
    <%= render partial: "shared/event_show_side_bar" %>
  <% end %>
  <div class='events-show-container'>
    <%= render partial: "event_form", locals: {event: Event.new} %>
  </div>
</div>

