<script src="http://d3js.org/d3.v3.min.js"></script>

<h1><%= @event.name %></h1>
<div class="floor-plan">
  <% num_of_tables = 10 %>
  <% seats_per_table = 10 %>
  <% counter = 1 %>
  <% num_of_tables.times do %>
     <div class="tables" id="table-<%= counter %>"></div>
    <% counter += 1 %>
  <% end %>
</div>

