<h1><%= @event.name %></h1>
<div class="floor-plan">
  <% num_of_tables = 10 %>
  <% seats_per_table = 10 %>
  <% counter = 1 %>
  <% num_of_tables.times do %>
     <div class="tables" id="table-<%= counter %>"></div>
    <% counter += 1 %>
  <% end %>
</div>

<script>
  var svg = d3.select('#table-1');
  var originX = 75;
  var originY = 75;
  var tableRadius = 40;

  var table = svg.append("circle").attr({
    cx: originX,
    cy: originY,
    r: tableRadius,
    fill: "#595AB7"
  });
</script>
