// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-index-nav {
  overflow: auto;
  width: 100%;
  height: 106px;
  background-color: #520029;
}

.logo {
  display: inline-block;
  margin: 10px;
}

.events-index-nav .button {
  float: right;
  margin-top: 20px;
}

#new-event a {
  width: 165px;
}

.events-index-container {
  width: 75%;
  margin: 0 auto;
}

#event-list td {
  padding-right: 150px;
}

.events-show-floor-plan {
  width: 625px;
  height: 625px;
  border: solid 1px gray;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

h3 {
  font-size: 30px;
}

#event-list {
  font-size: 30px;
}

#event-list a {
  text-decoration: none;
  color: #93004A;
}

#event-list a:hover {
  color: #58002C;
}

p {
  text-align: center;
}

.event-table {
  width: 150px;
  height: 150px;
  border: solid 1px gray;
  display: inline-block;
}

.side-bar-link {
	display: block;
  color: #E6E6E6;
  text-decoration: none;
}

.side-bar-link:hover {
  color: #FFE5B0;
}

.event-show-side-bar{
	float: left;
	width: 100px;
}

.event-page-container{
	position: relative;
	border: solid 1px gray;
}

.event-show-side-bar {
  background-color: #520029;
  padding: 10px;
  height: 100%;
  position: absolute;
}

.event-show-container{
	float: right;
	margin-left: 75px;
	display: inline-block;
}

.event-name {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
