// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// General

.logo {
  display: inline-block;
  margin: 10px;
}

h1 {
  text-align: center;
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.35);
}

h3 {
  font-size: 30px;
}

p {
  text-align: center;
}

// Events Index

.events-index-nav {
  margin: -10px;
  height: 106px;
  background-color: #520029;
}
#left {
    background-color: #520029;
    position: absolute; 
    width: 210px;
    height: 100%;
}

.events-index-nav .button {
  float: right;
  font-size: 20px;
  margin: 20px 30px 0px 0px;
}

#new-event a {
  width: 200px;
}

#logout a {
  width: 110px;
}

.events-index-container {
  width: 75%;
  margin: 0 auto;
}

#event-list {
  font-size: 30px;
}

#event-list td {
  padding-right: 150px;
}

#event-list a {
  text-decoration: none;
  color: #7A2952;
}

#event-list a:hover {
  color: #4C1A33;
}

// Event Show

.table-namebox{
  position: relative; 
}

.name-box{
  position: absolute;
  left: 5px;
  top: 0;
}

.event-page-container{
  position: relative;
}

.event-show-side-bar {
  height: 100%;
  background-color: #520029;
  width: 210px;
}

#side-bar-logo {
  width: 200px;
  margin: -5px 0px 0px -5px;
}

.side-bar-link {
  display: block;
  color: linen;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: .25em;
  font-size: 18px;
}

.side-bar-link:hover {
  color: #FFE5B0;
}

.event-show-container{
  margin: 0px 0px 0px 500px;
  display: inline-block;
}

#event-name {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.35);
    margin: 100px 0px 25px 0px;
}

#event-host {
  text-align: center;
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

.event-show-floor-plan {
  width: 825px;
  height: 625px;
  border: solid 1px gray;
  margin: 0 auto;
  background-image: image-url("wood-floor.jpg");
  z-index: 1;
}

.event-table {
  width: 150px;
  height: 150px;
  display: inline-block;
}
