.new-guest-container {
  margin: 0 auto;
  text-align: center;
}

.all-guests-container {
  margin: 20px auto;
  width: 1000px;
}

.guest-view-container {
  text-align: center;
  font-size: 35px;
}

#delete a {
  text-decoration: none;
  font-size: 16px;
  color: #520029;
}

#edit a {
  text-decoration: none;
  font-size: 16px;
  color: #520029;
}

.warning {
  color: red;
}

.input-field {
  display: inline;
  font-size: 25px;
}

#left-column {
  width: 500px;
  float: left;
}

#right-column {
  width: 500px;
  float: right;
}