// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  color: red;
  font-size: 1.2em;
}