// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.8em;
}
h4 {
  font-family: Helvetica, sans-serif;
  font-style: italic;
}