<div class='container'>
  <div id="user-container">

    <a id="login-button" class="user-button" href=''>Login</a>
    <a id="new-user-button" class="user-button" href=''>New User</a>

    <form id="user-form">
        <input type="text" name="user[username]" placeholder="username">
        <input type="text" name="user[password]" placeholder="password">
        <input type="hidden" name="user[race_character]">
        <input type="submit" value="Add">
    </form>
    <p id="race-character-promp">
      The next key you hit will be your "race" key.
    </p>

  </div>

    <div id="sgined-in-user-box">
        <a id='start-race' href=''>Race</a>
    </div>

  

</div>


